body    {
    font-family: 'Roboto', sans-serif;
}
#nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1000px;
    padding: 20px;
    margin-left: 200px;
    background-color: lightgray;
    align-items: center;
}
#main   {
    display: flex;
    flex-direction: row;
    margin: 20px;
    justify-content: space-around;
}
.def-box    {
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    margin: 15px;
    padding: 10px;
}
#login-btn  {
    background-color: #0088ff;
}
.like-btn   {
    background-color: #ffb700;
}
#def-btn    {
    background-color: #08a108;
}
#left-side  {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#right-side {
    border: 1px solid black;
    padding: 15px;
    height: 100px;
}
#button-side    {
    margin: 20px;
    padding: 10px;
}